.avatar img {
    width: 100%;
    height: auto;
}

.aboutusContainer{
    margin: 0 20%;
}
.aboutusContainer .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.IconGrid {
    border-top: #dddddd 1px solid;
    justify-content: space-between;
    padding-top: 2rem;
}
.imageframe{
    width: 13%;
}
.imageframe img {
    width: 100%;
    height: auto;
    border: white 5px solid;
    border-radius: 6px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.randomFacts img{
    width: 100%;
    height: auto;
}

.randomFacts ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    line-height: 1.5;
}
.randomFacts .content{
    margin-left: 36px;
}

.randomFacts{
    justify-content: space-evenly;
    align-items: center;
}
.mystory{
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
   
}
.mystory .mainbaner{
    width: 30%;
    height: auto;
}
.mystory .thumbnail{
    position: absolute;
    right: 25%;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 10%;
    z-index: 1;
}
.mystory .content{
    width: 40%;
}

.skillContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillContainer > div {
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    width: 40%;
}

.skillContainer > div > ul{
    padding: 1rem;
    list-style-type: disc;
    margin: 0;
}

.skillContainer > div p{
    position: relative;
}

.skillContainer > div p::after{
    content: "";
    position: absolute;
    align-self: center;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 1;
    background-image: url(../../Assets/logos/github-svgrepo-com.svg);
}