<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../../Common-Styles/gridsystem.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="portfoliolist">
        <div class="portfolioItem row">
            <img src="../../Assets/logos/github-svgrepo-com.svg" alt="">
            <div class="content">
                <h6>WebApp</h6>
                <p>Description of WebApp</p>
                <p>Technoligies</p>
                <button href="#link">link</button>
            </div>
        </div>
        <div class="portfolioItem row">
            <img src="../../Assets/logos/github-svgrepo-com.svg" alt="">
            <div class="content">
                <h6>WebApp</h6>
                <p>Description of WebApp</p>
                <p>Technoligies</p>
                <button href="#link">link</button>
            </div>
        </div>
        <div class="portfolioItem row">
            <img src="../../Assets/logos/github-svgrepo-com.svg" alt="">
            <div class="content">
                <h6>WebApp</h6>
                <p>Description of WebApp</p>
                <p>Technoligies</p>
                <button href="#link">link</button>
            </div>
        </div>
        <div class="portfolioItem row">
            <img src="../../Assets/logos/github-svgrepo-com.svg" alt="">
            <div class="content">
                <h6>WebApp</h6>
                <p>Description of WebApp</p>
                <p>Technoligies</p>
                <button href="#link">link</button>
            </div>
        </div>
    </div>
</body>
</html>